/* SearchBar.module.css */
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  
}

.searchContainer form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchContainer input {
  padding: 5px;
}

.searchContainer button {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: bisque;
}
